@font-face {
  font-family: Jaapokki;
  src: url('/fonts/jaapokki.ttf');
}

@font-face {
  font-family: MavenPro;
  src: url('/fonts/MavenPro.ttf');
}

$font-headers: Jaapokki, sans-serif, Arial;
$font-text: MavenPro, sans-serif, Arial;
$font-button: 'Oswald', sans-serif;
$font-nav: Impact, Charcoal, sans-serif;
