@import "core/_core";
@import "blocks/_blocks";

body {
  min-width: 250px;
  color: #8f8f8f;
  margin: 0;
  letter-spacing: 2px;
  background-image: url('/images/bg.png');
  border-top: 5px solid #7e7e7e;
}
  
.hidden {
  display: none;
}

p {
	margin: 20px 0;
}

@media (max-width: 300px) {
	form[name="search"] {
		float: left;
	}
}

@media (max-width: 700px) {
	#add_content form {
    width: 100%;
    height: 100%;
    min-width: 250px;
    padding: 5px;
    margin-top: 0;
  }
  
  label[for="button_add"].active {
    background-color: #7e7e7e;
  }
}