section {
    text-align: center;
  }
  
  section figure {
      display: inline-block;
      margin: 0;
      font-family: 'Oswald', sans-serif;
      //font-weight: 300;
      height: 200px;
      width: 200px;
      padding: 17px;
  }
  
  figure img {
      display: block;
      border: 1px solid #fff;
      outline: 1px solid #c9c9c9;
      margin: auto;
      width: 128px;
      height: 128px;
      object-fit: cover;
  }
  
  figure figcaption {
      font-size: 14px;
      //font-weight: 300;
      margin-top: 5px;
      overflow: hidden;
  }
  
  figure figcaption span {
      display: block;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
            margin-top: 5px;
            color: #29c5e6;
            font-size: 12px;
      }
  }
  
  figure div {
      font-size: 14px;
      color: #29c5e6;
  }
  
  .content {
      padding: 20px 10px;
  }
  
  .content figure {
      position: relative;
      &:hover {
          img {
              border-color: #c9c9c9;
          }
          box-shadow: 0px 1px 1px #8f8f8f;
          label[title="delete"], label[title="edit"] {
              display: block;
          }
      }
  }
  
  // кнопка удаления контента
  .content_element label[title="delete"], label[title="edit"] {
      position: absolute;
      right: 10px;
      font-size: 15px;
      cursor: pointer;
      &:hover {
          display: block;
      }
  }
  label[title="delete"] {
      top: 10px;
  }
  label[title="edit"] {
      top: 30px;
  }