.content {
  margin-top: 110px;
  padding: 15px 40px 0 30px;
  h3 {
    line-height: 70px;
    span {
      margin-left: 10px;
      color: gray;
    }
  }
}

.card-columns .card-body {
  padding-bottom: 30px;
  .task_info {
    position: relative;
  }
  .card-title {
    margin-top: 30px;
  }
  p {
    margin-left: 0;
  }
}

input[name="content_view_btn"] {
  display: none;
}

#content_view_btn1 + label,
#content_view_btn2 + label {
  position: absolute;
  height: 20px;
  width: 30px;
  top: 140px;
  right: 70px;
  background-size: contain;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}

#content_view_btn2 + label {
  right: 30px;
}

.card {
  margin-bottom: 10px;
  position: relative;
}

.card-body {
  padding-top: 30px;
  padding-bottom: 10px;
  p {
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .circle {
    float: left;
    display: table-cell;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: steelblue;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    line-height: 47px;
    color: #fff;
  }
}

.dropdown {
  //position: relative;
}

.dropdown-menu .dropdown-menu {
  top: auto;
  left: -90%;
  transform: translateY(-2rem);
}
.dropdown-item + .dropdown-menu {
  display: block;
  opacity: 0;
  transition: opacity .3s 1s;
}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  transition: opacity .3s .1s;
}

.card-button {
  z-index: 98;
  position: absolute;
  top: 48px;
  right: 30px;
  cursor: pointer;
  span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: gray;
    border-radius: 50%;
  }
  .btn-top {
    top: -15px;
  }
  .btn-bottom {
    top: 15px;
  }
}

.task_info {
  position: absolute;
  font-size: 14px;
  top: -5px;
  right: 20px;
  background-color: transparent;
  border: none;
  .completed {
    color: green;
  }
  span {
    margin-left: 20px;
    img {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
  .date {
    color: #bbb;
  }
  .high-priority img {
    transform: rotate(90deg);
  }
  .low-priority img {
    transform: rotate(-90deg);
  }
}

.card-columns {
  @media (min-width: 1500px) {
    column-count: 4;
  }
  @media (max-width: 1500px) {
    column-count: 3;
  }
  @media (max-width: 1200px) {
    column-count: 2;
  }
  @media (max-width: 800px) {
    column-count: 1;
  }
}
