#add_content {
    display: none;
    position: fixed;
    margin: auto;
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    form {
        background-color: #fff;
        box-shadow: 0 0 9px 0 black;
        padding: 30px 10px 35px;
        margin: auto;
        margin-top: 5%;
        width: 50%;
        height: auto;
    }
    label, select, input, textarea {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        max-width: 500px;
        resize: vertical;
    }
    input[type="submit"]{
        margin-top: 20px;
    }
}
