header {
	padding: 20px 0;
	background-color: #fff;
	#logo_img {
		max-width: 100%;
	}
}

nav {
	input {
		display: none;
	}
	label, label:hover {
		text-decoration: none;
		padding: 10px 30px;
		display: inline-block;
		color: #b2b2b2;
		&:hover {
			background-color: #6b2b1b;
			color: #fff;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		font-size: 14px;
		font-family: $font-nav;
		padding: 0px;
	}
	.top-menu {
		li {
			display: inline-block;
			margin: 0;
			&:hover {
				background: #fff;
			}
//			-moz-appearance: button; /* Firefox */
//			-webkit-appearance: button; /* Chromium */
		}
		li.active {
			background: #6b2b1b;
			label {
				color: #fff;
			}
		}
	}
}

#heading {
	h1 {
		font-family: $font-nav;
		padding: 20px;
		color: #6b2b1b;
	}
}

label[for="sort_by"] {
	padding-left: 20px;
}

.sort {
	height: 20px;
	color: #000;
}

label.sort {
	color: #646464;
}

input[name="sort_direction"] {
	display: none;
	&:checked + label {
		color: #dbac2b;
	}
}

  label[for="button_add"] {
	cursor: pointer;
	background-color: #6b2b1b;
	color: #fff;
	text-align: center;
	position: fixed;
	right: 30px;
	bottom: 100px;
	height: 50px;
	font-size: 37px;
	//font-weight: 800;
	width: 50px;
	border: 2px solid #6b2b1b;
	border-radius: 50%;
	z-index: 100;
	transition: 0.3s all ease;
	&:hover {
		background-color: #dbac2b;
		box-shadow: inset 0 0 5px rgb(223, 199, 96);
		border-color: rgb(223, 199, 96);
	}
	&.active {
		background-color: transparent;
		color: #fff;
		border-color: #fff;
		transform: rotate(45deg);
	}
  }

input[type="text"], input[type="url"], select, textarea {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
	&:focus {
		outline-color: #646464;
	}
}
	
form[name="search"] {
	float: right;
}

form[name="search"] button, #add_content input[type="submit"] {
	color: #fff;
	background-color: #dbac2b;
	border: none;
	height: 30px;
	padding: 5px;
	font-family: $font-button;
}